ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
.Header{
  size: 500px;
  text-align: center;
  text-shadow: #333333;
  background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
}
.BackgroundImage{
    background-image: url("SidelineCentralBanner.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  max-width: 100%;
  object-fit: scale-down;
}
